.news-article-page {
  max-width: 850px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  white-space: pre-line;
}

.news-article-page h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #444;
  padding-bottom: 0.5rem;
}

.news-article-page img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  object-fit: cover;
}

.article-content {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  white-space: pre-wrap;
}

.redirect-button {
  display: inline-block;
  background-color: #6249c9;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.redirect-button:hover {
  background-color: #331a99;
  color: white;
}

.read-more-section {
  margin-top: 60px;
}

.read-more-section h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid;
  padding-bottom: 0.5rem;
}

.read-more-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}