.privacy-policy-page {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
}

.privacy-policy-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #635ccd;
}

.privacy-policy-page h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #635ccd;
}

.privacy-policy-page p {
  margin-bottom: 1rem;
}

.privacy-policy-page ul {
  padding-left: 1.2rem;
  list-style-type: disc;
  margin-bottom: 1rem;
}

.privacy-policy-page li {
  margin-bottom: 0.5rem;
}